.shop{
    
    margin: 50px;
    border: 1px solid gray;
    text-align: center;
    
    
}
.shop img{
    /* display: grid;
    grid-template-columns: repeat(3fr); */
    
    
    height: 240px;

}

.btn{
    padding: 10px;
    margin-bottom: 20px;
    background-color: aquamarine;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}